############################
####      Frontend       ###
############################

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
build
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage

############################
####      Backend        ###
############################

./webeng-backend/HELP.md
./webeng-backend/target/
./webeng-backend/.mvn/wrapper/maven-wrapper.jar
./webeng-backend/!**/src/main/**/target/
./webeng-backend/target/*
./webeng-backend/!**/src/test/**/target/

### STS ###
./webeng-backend/.apt_generated
./webeng-backend/.classpath
./webeng-backend/.factorypath
./webeng-backend/.project
./webeng-backend/.settings
./webeng-backend/.springBeans
./webeng-backend/.sts4-cache

### IntelliJ IDEA ###
./webeng-backend/.idea
./webeng-backend/*.iws
./webeng-backend/*.iml
./webeng-backend/*.ipr

### NetBeans ###
./webeng-backend//nbproject/private/
./webeng-backend//nbbuild/
./webeng-backend//dist/
./webeng-backend//nbdist/
./webeng-backend//.nb-gradle/
./webeng-backend/build/
./webeng-backend/!**/src/main/**/build/
./webeng-backend/!**/src/test/**/build/

### VS Code ###
./webeng-backend/.vscode/